@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);
	--lime-green-lighter: hsl(136, 65%, 80%);
	--bright-cyan-lighter: hsl(192, 70%, 80%);

	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	transition: all 0.6s;
	font-family: public sans, sans-serif;
}

/*//////////////////*/
/*/ header starts /*/
/*//////////////////*/

.header {
	/* border: 1px solid red; */
	width: 100%;
	height: 50px;
	padding: 1%;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: center; */
	/* align-items: center; */

	display: relative;
}

.header__logo {
	position: relative;
	left: 5%;
	width: 150px;
	height: 50px;
}

.header__toggle-btn {
	height: 30px;
	aspect-ratio: 1/1;
	top: calc(50px * 0.3);
	right: 8%;

	border: none;
	position: absolute;

	cursor: pointer;
}

.header__toggle-btn--hamburger {
	background: url('images/icon-hamburger.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.header__toggle-btn--x {
	background: url('images/icon-close.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.header-nav {
	display: none;
}

.btn--header {
	display: none;
}

.modal {
	position: fixed;
	top: calc(50px + 7px);
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: hsl(233, 26%, 24%, 0.5);

	overflow: hidden;
}

.modal--inactive {
	display: none;
}

.modal-nav {
	width: 90%;
	height: 250px;
	border-radius: 5px;
	position: relative;
	top: 5%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background-color: var(--white);
	/* background-color: red; */
}

.modal-nav__list {
	/* background-color: red; */
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.modal-nav__item {
	list-style: none;
}

.modal-nav__link {
	color: var(--dark-blue);
	text-decoration: none;
}

.btn {
	border: none;
	height: 50px;
	width: 175px;
	border-radius: 25px;
	background: var(--bright-cyan);
	background: linear-gradient(
		117deg,
		var(--lime-green) 0%,
		var(--bright-cyan) 100%
	);
	color: var(--white);

	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	font-family: 'Public Sans', sans-serif;
	cursor: pointer;
}

.btn:hover {
	background: linear-gradient(to right, #00bfa5, #00c853);
}

.hero {
	width: 100%;
	margin: 0, 0, 5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: url(images/bg-intro-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: -50px;
	overflow: hidden;
}
.hero_img {
	width: 99%;
	margin: 0 1%;
	position: relative;
	top: -140px;
}
.hero_text {
	padding: 5%;
	margin: -40% 0 0;
	text-align: center;
}
.hero_header {
	margin: 0 0 5%;
	font-size: 2rem;
	color: hsl(231, 17%, 92%);
	text-align: center;
}

.hero_copy {
	margin: 0 0 10%;
	color: hsl(233, 8%, 62%);
	font-size: 0.8rem;
	line-height: 1.25rem;
}

/*//////////////////*/
/*/ Feature section /*/
/*//////////////////*/

.features {
	width: 80%;
	padding: 15% 10% 10%;
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: hsl(0, 0%, 98%);
}

.feature__content {
	text-align: center;
}

.features__header {
	margin: 0 0 5%;
	font-size: 2rem;
	font-weight: 400;
	color: hsl(233, 26%, 24%);
}

.features__copy {
	margin: 0 0 10%;
	font-size: 0.8rem;
	font-weight: 200;
	line-height: 1.25rem;
	color: hsl(233, 8%, 62%);
}

.features-cards {
	min-height: 275px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.features-card__header {
	font-size: 1.3rem;
	font-weight: 400;
	color: hsl(233, 26%, 24%);
}
.features-card__copy {
	color: hsl(233, 8%, 62%);
	font-size: 0.8rem;
	text-align: center;
	line-height: 1.25rem;
}
/*//////////////////*/
/*/ Articles section /*/
/*//////////////////*/

.articles {
	padding: 15% 8% 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
}
.articles__header {
	font-size: 2rem;
	font-weight: 400;
	color: hsl(233, 26%, 24%);
}

.articles-card {
	margin: 8% 0;
	border-radius: 5px;
}

.articles-card__img {
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.articles-card__content {
	padding: 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: white;
}

.articles-card__byline {
	margin: 0 0 5%;
	font-size: 0, 7em;
	font-weight: 400;
	color: hsl(233, 8%, 62%);
}

.articles-card__title {
	margin: 0 0 5%;
	font-size: 0.8em;
	color: hsl(233, 26%, 24%);
	font-weight: 400;
}
.articles-card__blurb {
	font-size: 0.75rem;
	color: hsl(233, 8%, 62%);
	font-weight: 400;
}
/*//////////////////*/
/*/ Footer section /*/
/*//////////////////*/

footer {
	padding: 5% 8%;
	background-color: var(--dark-blue);
	color: var(--white);
}

.footer__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	justify-content: start;
	align-items: start;
}

.footer__section {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align content to the left for all sections */
	gap: 10px;
}

.footer__section h4 {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--white);
}

.footer__section ul {
	list-style-type: none;
	padding: 0;
}

.footer__section ul li {
	margin-bottom: 10px;
}

.footer__section ul li a {
	text-decoration: none;
	color: var(--white);
	font-size: 0.9rem;
}

.footer__section ul li a:hover {
	color: var(--lime-green);
}

.footer__logo {
	width: 128px;
	height: auto;
	margin-bottom: 10px;
}

.footer__social {
	display: flex;
	gap: 10px;
}

.footer__button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.footer__button {
	background: linear-gradient(to right, #00c853, #00bfa5);
	padding: 10px 20px;
	border-radius: 30px;
	color: var(--white);
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.footer__button:hover {
	background: linear-gradient(to right, #00bfa5, #00c853);
}

.footer__copyright {
	margin-top: 30px;
	text-align: center;
	color: var(--white);
	font-size: 0.8rem;
}
